<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-template" lang="en">
<head>
<title>Add new</title>
</head>
<body>
	<div layout:fragment="panelTitle">
		<h4>Add new</h4>
	</div>
	<div layout:fragment="content">
		<form action="#" th:action="@{/new}" th:object="${newStuff}"
			method="post">
			<div class="form-group">
				<label for="name">Name</label> <input type="text" th:field="*{name}"
					class="form-control" id="name" placeholder="name"></input>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>