<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-template" lang="en">
<head>
<title>Chosen</title>
</head>
<body>

	<div layout:fragment="panelTitle">
		<h4>Chosen</h4>
	</div>
	<div layout:fragment="content">
		<h1 class="text-center" th:text="${randomStuff.name}">Result</h1>
		<a class="btn btn-default btn-block" href="#" th:href="@{/random}"
			role="button">Can we try something else?</a> <a
			class="btn btn-default btn-block" href="#" th:href="@{/}"
			role="button">Thanks this would do. Get me back!</a>
	</div>
</body>
</html>