<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-template" lang="en">
<head>
<title>Chosen</title>
</head>
<body>

	<div layout:fragment="panelTitle">
		<h4>Chosen</h4>
	</div>
	<div layout:fragment="content">
		<p th:if="${#fields.hasErrors('allStuff')}" th:errors="*{allStuff}">Name
			Error</p>
		<h1 th:text="${randomStuff.name}"
			th:unless="${#fields.hasErrors('allStuff')}">Result</h1>
		<a class="btn btn-default" href="#" th:href="@{/random}" role="button">Mhmm,
			can we try something else?</a> <a class="btn btn-default" href="#"
			th:href="@{/}" role="button">back</a>
	</div>
</body>
</html>