<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-template" lang="en">
<head>
<title>index</title>
</head>
<body>
	<div layout:fragment="panelTitle">
		<h4>Stuff</h4>
	</div>
	<div layout:fragment="content">
		<a class="btn btn-default" href="#" th:href="@{/new}" role="button">Add
			new</a>
		<a class="btn btn-default" href="#" th:href="@{/random}" th:unless = "${beans.allStuff.isEmpty()}" role="button">Choose for me..</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>name</th>
					<th>delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="stuff : ${beans.allStuff}">
					<td th:text="${{stuff.name}}">name</td>
					<td><a href="#" th:href="@{/delete(name=${stuff.name})}"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>