<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-site-verification"
	content="2inrTSbUBaDOVjbBhZ-gbJ-ja26UZlJyI5tAA7bz4rg" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">ChooseForMe
</title>
<link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script src="js/jquery-2.1.4.min.js" th:href="@{js/jquery-2.1.4.min.js}"></script>
<script src="js/bootstrap.min.js" th:href="@{js/bootstrap.min.js}"></script>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>
						<a href="#" th:href="@{/}">ChooseForMe</a> <small>chooses
							for you</small>
					</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div layout:fragment="panelTitle"></div>
							</div>
							<div class="panel-body">
								<div layout:fragment="content"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<script async="async"
					src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- responsive-scompo-chooseforme -->
				<ins class="adsbygoogle" style="display: block"
					data-ad-client="ca-pub-6018009663499149" data-ad-slot="4308943519"
					data-ad-format="auto"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<script type="text/javascript">
					google_ad_client = "ca-pub-6018009663499149";
					google_ad_slot = "6064878314";
					google_ad_width = 320;
					google_ad_height = 100;
				</script>
				<!-- scompo-chooseforme -->
				<script type="text/javascript"
					src="//pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
		</div>

	</div>
</body>
</html>